/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

/* Utilities */

.container {
    max-width: 1080px;
    margin: 40px auto;
}

.bg-white {
    background-color: white;
}

/* Header */

header {
    padding: 20px 40px;
    background-color: white;
}

h1 {
    display: inline;
    font-size: 80px;
    vertical-align: middle;
    font-weight: 800;
}

#logo {
    height: 96px;
    vertical-align: middle;
}

/* Button bar */

.button-bar {
    padding: 20px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
}

.task-button {
    color: white;
    background-color: rgb(29, 144, 255);
    border: none;
}

.section-button {
    color: rgb(163, 148, 149);
    border-color: rgb(163, 148, 149);
    border: 1px solid rgb(163, 148, 149);
}